html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    box-sizing:border-box;
}
.top{
    display:inline-block;
    margin-left:35%;
    margin-bottom:1%;
    margin-top:1%;
    
}
.plan{
    background-color:#FF764E;
    display:inline-block;
  width:100px;
  padding:5%;
  border-radius:10px;
  border:2px solid black;
  margin-right:65px;
  color:white;
  text-decoration:none;
  text-align:center;
}
.learn{
    background-color:#5ED3EB;
    display:inline-block;
  width:100px;
  padding:5%;
  border-radius:10px;
  border:2px solid black;
  margin-right:
  text-decoration:none;
  text-align:center;
  color:white;
  text-decoration:none;
}
.get{
    background-color:#FFCD69;
display:inline-block;
  width:100px;
  padding:5%;
  border-radius:10px;
  border:2px solid black;
  margin-right:65px;
  color:white;
  text-decoration:none;
  text-align:center; 
  margin-left:65px;
}
h1{
    font-family:'Chelsea Market',sans-serif;
    font-size:5rem;
    text-align:right;
}
.bannertext{
    text-align:right;
    font-family:'roboto mono', sans serif;
    font-size:2rem;
}
.block{
    background-color:#DDB9A3;
    font-family:'roboto mono', sans serif;
    text-align:center;
    margin:10% auto;
    width:80%;
    color:white;
}
.firebus{
    text-align:center;
    font-family:'roboto mono', sans serif;
    margin:25%;
}
img{
    max-width:40%;
}
.bottom{
    display:inline-block;
    margin-left:35%;
    margin-bottom:1%;
    margin-top:1%; 
}
